@model ForgotPassword

<p>@Html.Raw(ViewData.ModelState.IsValid ? "<i class=\"fas fa-info-circle fa-fw\"></i> " : "<i class=\"fas fa-exclamation-triangle fa-fw\"></i>") @Html.Raw(Page.Message)</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "login" }))
{
    if (!ViewData.ModelState.IsValid)
    {
        <div class="ui-state-error ui-corner-all">
            @Html.ValidationSummary()
        </div>
    }
    <fieldset class="field">
        @Html.LabelFor(m => m.Email)
        @Html.InputFor(m => m.Email)
    </fieldset>
    <fieldset class="footer">
        <button type="submit" class="button">Submit</button>
    </fieldset>
}
