@model PagedList.IPagedList<RediMixOrder>
@{
    // Querystring
    RouteValueDictionary parameters = Request.QueryString.ToRouteValues().WithDefaults(new List<KeyValuePair<string, object>> {
      new KeyValuePair<string, object>("active", ""),
      new KeyValuePair<string, object>("order", "asc"),
      new KeyValuePair<string, object>("page", "1"),
      new KeyValuePair<string, object>("show", "40"),
      new KeyValuePair<string, object>("sort", Request.QueryString["q"] != null ? "hit" : "name")
    });

    // Variables
    string active = parameters["active"].ToString();
    string order = parameters["order"].ToString();
    string page = parameters["page"].ToString();
    string show = parameters["show"].ToString();
    string sort = parameters["sort"].ToString();
}

<p><a href="@Url.Action("Add", parameters)"><i class="fa fa-plus fa-fw"></i> Add a New Redi-Mix Order</a></p>

<div class="manage">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "filter" }))
    {
        <fieldset>
            <label for="show">Show</label>
            @Html.DropDownList("show", Options.Show(show))
            @Html.DropDownList("active", new SelectList(Options.Active(), "Value", "Text", active), "All", null)
            @Html.Hidden("page", page)
            <button type="submit">Go</button>
        </fieldset>
    }
</div>

@if (Model.Any())
{
    <table class="list">
        <thead>
            <tr>
                <th>@Html.SortLink(sort, "Id", null, null, parameters, null)</th>
                <th>@Html.SortLink(sort, "Customer", null, null, parameters, null)</th>
                <th>@Html.SortLink(sort, "Location", null, null, parameters, null)</th>
                <th>@Html.SortLink(sort, "Start Date", null, null, parameters, null)</th>
                <th>@Html.SortLink(sort, "Order Status", null, null, parameters, null)</th>
                <th class="hide"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (RediMixOrder item in Model)
            {
                <tr data-href="@Url.Action("Edit", parameters.CopyAndAdd("guid", item.RediMixOrderID))">
                    <td>@item.RediMixOrderID</td>
                    <td>@item.Customer</td>
                    <td>@item.Location</td>
                    <td>@(item.StartDate.HasValue ? item.StartDate.Value.ToShortDateString() : string.Empty)</td>
                    <td>@(item.OrderStatusID.HasValue ? item.RediMixOrderStatu.OrderStatusName : string.Empty)</td>
                    <td class="hide">@Html.ActionLink("Edit", "Edit", parameters.CopyAndAdd("guid", item.RediMixOrderID))</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, p => Url.Action("Index", parameters.CopyAndReplace("page", p)), new PagedListRenderOptions
    {
        ItemSliceAndTotalFormat = "viewing {0} - {1} of {2}",
        DisplayItemSliceAndTotal = true,
        LinkToFirstPageFormat = "« first",
        LinkToPreviousPageFormat = "‹ previous",
        LinkToIndividualPageFormat = "{0}",
        LinkToNextPageFormat = "next ›",
        LinkToLastPageFormat = "last »"
    })
}
else
{
    <p>There are no Redi-Mix Orders at this time.</p>
}

